user: #{comment.user.name}
%br
%img{ alt: "...", :src => comment.user.avatar.url(:small) }
%br
created: #{comment.created_at.strftime("%B %d, %Y")}
%br
= comment.content
%br
= link_to "Reply", new_user_post_comment_path(:post_id => comment.post_id, :parent_id => comment)
= link_to "Destroy", [comment.post.user, comment.post, comment], :confirm => "Are you sure?", :method => :delete, remote: true, :class => "delete" if comment.user_id == current_user.id || comment.post.user_id == current_user.id