
/ Fixed navbar
.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Blog Web Application", root_path, :class => 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to 'Create post', new_user_post_path(current_user)
          %li= link_to 'Find users', users_path
          %li= link_to 'My page', user_path(current_user)
          %li
            %a{:href => edit_user_registration_path}
              = fa_icon "cogs"
              Edit profile
          
          %li= link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Find users', users_path
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Sign in", new_user_session_path

    / /.nav-collapse